.donation-card {
  margin-top: 75px;
  margin-left: 50px;
  padding: 15px;
  border-width: 0.5px;
  border-color: lightgray;
  background: rgba(157, 156, 156, 0.299);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  width: 400px;
  height: 400px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  &:hover {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 1.0);
  }

}

// .organization-prof-pic {
//   margin-top: 10px;
//   height: 200px;
//   width: 200px;
//   border: 1px solid black;
//   border-radius: 12px 12px 12px 12px;
//   object-fit: cover;
// } 
