@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: black;
    padding: 8px;
    align-items: center;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
    height: 72px;
  }

  .footer__logo {
    text-decoration: none;
    font-weight: 500;
    font-size: 38px;
    color: #ffffff;
    text-underline-position: auto;
    margin-left: 5px;
    margin-top: 25px;
    cursor: pointer;
    font-family: 'Luckiest Guy', cursive;
  
    &:hover {
      color: transparent;
      background: linear-gradient(90deg, rgb(12, 67, 1) 0%, rgba(56, 120, 3, 0.894) 49%, rgb(58, 158, 1) 100%);
      background-clip: text;
      -webkit-background-clip: text;
    }
  
  }

  .footer__links{
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-left: 50px;
    padding: 30px;
    margin-top: 15px;
    
  }

  .footer__about-us {
    margin-left: 20px;
    &:hover {
      color: transparent;
      background: linear-gradient(90deg, rgb(12, 67, 1) 0%, rgba(56, 120, 3, 0.894) 49%, rgb(58, 158, 1) 100%);
      background-clip: text;
      -webkit-background-clip: text;
    }
    }

    .footer__patient-stories {
        text-decoration: none;
        color: white;
        &:hover {
          color: transparent;
          background: linear-gradient(90deg, rgb(12, 67, 1) 0%, rgba(56, 120, 3, 0.894) 49%, rgb(58, 158, 1) 100%);
          background-clip: text;
          -webkit-background-clip: text;
        }
      }
      
      .footer__contactus {
        text-decoration: none;
        color: white;
        margin-left: 25px;
        &:hover {
          color: transparent;
          background: linear-gradient(90deg, rgb(12, 67, 1) 0%, rgba(56, 120, 3, 0.894) 49%, rgb(58, 158, 1) 100%);
          background-clip: text;
          -webkit-background-clip: text;
        }
      }
      