.home-cover {
  width: 100%;
  height: 400px;
  margin-bottom: 40px;
}

  h1 {
    margin-bottom: 50px;
    text-align: left;
    margin-left: 150px;
    color: black
  }

  .description {
    margin-bottom: 75px;
    margin-left: 150px;
    margin-right: 300px;
    font-size: 16px; 
    line-height: 1.5; 
    text-align: left;
    color: black
  }

  .home-pic2 {
    width: 750px;
    margin-bottom: 25px;
    border: 1px solid transparent;
    border-radius: 6px;
  }

  .content-container {
    display: flex;
    justify-content: space-between;
    max-width: 900px; /* Adjust as needed */
    margin: 0 auto;
    padding: 20px;
  }
  
  .content-left {
    flex: 1;
    margin-right: 20px;
    color: black
  }
  
  .content-right {
    flex: 1;
    color: black
    
  }

  .home-page__donate{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    color: black;
    &:hover {
      color: transparent;
      background: linear-gradient(90deg, rgb(12, 67, 1) 0%, rgba(56, 120, 3, 0.894) 49%, rgb(58, 158, 1) 100%);
      background-clip: text;
      -webkit-background-clip: text;
    }
  }
  

  
  