.patient-card {
  margin: 44px;
  padding: 20px;
  border: 1px solid lightgray;
  background-color: rgba(157, 156, 156, 0.299);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 1.0);
  }
}

.patient-prof-pic {
  margin-top: 5px;
  height: 100px;
  width: 100px;
  border-radius: 12px;
  object-fit: cover;
}

.patient-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  line-height: .01; /* Adjust the line-height value as desired */
  font-size: 13px;
}

.patient-name {
  margin: 5px 0;
  font-size: 20px;
}

.patient-info {
  margin: 2px 0;
}

.btn-view-pat {
  margin-top: 5px;
  height: 20px;
  width: 75px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
}

.btn-view-pat:hover {
  background-color: #45a049;
}
