.patients-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  
}

.patients-list-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: 175px;
  margin-right: 50px;

}