.patient-stories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.organization-card-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: 205px;
  margin-right: 50px;
  
}