@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.top-nav-bar {
  display: flex;
  flex-direction: row;
  background-color: black;
  padding: 8px;
  align-items: center;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
  height: 72px;
}

.top-nav-bar__logo {
  text-decoration: none;
  font-weight: 500;
  font-size: 38px;
  color: #ffffff;
  text-underline-position: auto;
  margin-left: 5px;
  margin-top: 25px;
  cursor: pointer;
  font-family: 'Luckiest Guy', cursive;

  &:hover {
    color: transparent;
    background: linear-gradient(90deg, rgb(12, 67, 1) 0%, rgba(56, 120, 3, 0.894) 49%, rgb(58, 158, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }

}

.top-nav-bar__links{
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-left: 50px;
  padding: 30px;
  margin-top: 15px;
  
}

.top-nav-bar__about-us {
margin-left: 20px;
&:hover {
  color: transparent;
  background: linear-gradient(90deg, rgb(12, 67, 1) 0%, rgba(56, 120, 3, 0.894) 49%, rgb(58, 158, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
}
}

.top-nav-bar__login-register {
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
  padding: 15px;
  font-size: 20px;
  margin-left: 500px;
  // align-items: flex-end;
}

.top-nav-bar__login-message {
  text-decoration: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border:#ffffff;
  border-radius: 5px;
  padding: 5px;
}

.top-nav-bar__register {
  text-decoration: none;
  margin-left: 15px;
  color: white;
  &:hover {
    color: transparent;
    background: linear-gradient(90deg, rgb(12, 67, 1) 0%, rgba(56, 120, 3, 0.894) 49%, rgb(58, 158, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
}

.top-nav-bar__login {
  text-decoration: none;
  color: white;
  &:hover {
    color: transparent;
    background: linear-gradient(90deg, rgb(12, 67, 1) 0%, rgba(56, 120, 3, 0.894) 49%, rgb(58, 158, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
}

.top-nav-bar__logout {
  text-decoration: none;
  color: white;
  &:hover {
    color: transparent;
    background: linear-gradient(90deg, rgb(12, 67, 1) 0%, rgba(56, 120, 3, 0.894) 49%, rgb(58, 158, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
}

.top-nav-bar__donate {
  text-decoration: none;
  margin-left: 25px;
  color: white;
  &:hover {
    color: transparent;
    background: linear-gradient(90deg, rgb(12, 67, 1) 0%, rgba(56, 120, 3, 0.894) 49%, rgb(58, 158, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
}

.top-nav-bar__patient-stories {
  text-decoration: none;
  color: white;
  &:hover {
    color: transparent;
    background: linear-gradient(90deg, rgb(12, 67, 1) 0%, rgba(56, 120, 3, 0.894) 49%, rgb(58, 158, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
}

.top-nav-bar__contactus {
  text-decoration: none;
  color: white;
  margin-left: 25px;
  &:hover {
    color: transparent;
    background: linear-gradient(90deg, rgb(12, 67, 1) 0%, rgba(56, 120, 3, 0.894) 49%, rgb(58, 158, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
}

